Repository bhuman-ai/terragon-planning-queue: changes, and which pre-commit hooks are due for each by the changed paths.
All: sacred-document-protection, sacred-document-tests, security-tests, test-quality-check, collaboration-api-validation, package-security

sacred-document-protection:
  name: üîí Sacred Document Protection
  entry: bash
  language: system
  args:
  - -c
  ...

sacred-document-tests:
  name: üß™ Sacred Document Tests
  entry: bash
  language: system
  args:
  - -c
  ...

security-tests:
  name: üîê Security Tests
  entry: bash
  language: system
  args:
  - -c
  ...

test-quality-check:
  name: üß™ Test Quality Check
  entry: bash
  language: system
  args:
  - -c
  ...

collaboration-api-validation:
  name: ü§ù Collaboration API Validation
  entry: bash
  language: system
  args:
  - -c
  ...

package-security:
  name: üì¶ Package Security Check
  entry: bash
  language: system
  args:
  - -c
  ...

fix: Resolve build warnings and ESLint configuration
  .eslintrc.js
  lib/claude-integrity.js
  lib/meta-agent/requirements.js
Due: none

Fix calibration scan to properly detect files in repositories
  .eslintrc.js
  README_GITHUB_TOKEN.md
  docs/llm-validation-system.md
  docs/validation-system.md
  lib/collaboration/llm-schemas.js
  lib/collaboration/validation.js
  lib/dom-testing/dom-validator.js
  lib/eslint-plugins/eslint-plugin-llm-validation.js
  lib/llm-generated/test-component.js
  llm-validation.config.js
  package-lock.json
  package.json
  pages/api/calibration/scan.js
  pages/api/collaboration/batch-validate.js
  pages/api/collaboration/validate-llm-output.js
  scripts/realtime-lint.js
  scripts/setup-github-token.js
  scripts/test-runner-enhanced.js
  scripts/validate-dom.js
  scripts/validate-llm-code.js
  tasks/task-20250802-214834-integrate-one-by-one/task.md
  test-public-repo.js
  test-scan-deployed.js
  test-scan-direct.js
  test-scan.js
  test-specific-repos.js
  test/validation-system.test.js
  tests/dom/collaboration-ui.test.js
Due: security-tests, collaboration-api-validation, package-security

Add document-driven workflow implementation with SubmitButton component
  __tests__/components/ui/SubmitButton.test.js
  __tests__/components/ui/__snapshots__/SubmitButton.test.js.snap
  checkpoints/checkpoint-create-button-file.md
  checkpoints/checkpoint-create-button-storybook.md
  checkpoints/checkpoint-write-button-tests.md
  components/ui/SubmitButton.js
  components/ui/SubmitButton.module.css
  diffs/task-create-submit-button.diff
  project.md
  stories/SubmitButton.stories.js
  tasks/task-create-submit-button.md
Due: test-quality-check

Fix remaining syntax errors in components and pages
  components/PreResearchModal.js
  pages/api/notifications/send.js
  pages/index.js
Due: none

Fix critical UI issues preventing functionality
  lib/security/agent-auth.js
  pages/api/collaboration/session/initialize.js
  pages/index.js
Due: security-tests, collaboration-api-validation

Fix authentication and UI issues
  components/ClaudeMdViewer.js
  pages/api/collaboration/checkpoints/create.js
  pages/api/collaboration/checkpoints/execute.js
  pages/api/collaboration/checkpoints/monitor.js
  pages/api/collaboration/drafts/create.js
  pages/api/collaboration/drafts/list.js
  pages/api/collaboration/drafts/retrieve.js
  pages/api/collaboration/drafts/update.js
  pages/api/collaboration/ideation/chat.js
  pages/api/collaboration/ideation/save-draft.js
  pages/api/collaboration/merge/conflicts.js
  pages/api/collaboration/merge/resolve.js
  pages/api/collaboration/meta-agent/integrate.js
  pages/api/collaboration/meta-agent/status.js
  pages/api/collaboration/orchestration/decompose.js
  pages/api/collaboration/sync/state.js
  pages/api/collaboration/sync/websocket.js
Due: security-tests, collaboration-api-validation

Fix critical parsing errors preventing Vercel build
  components/ClaudeMdViewer.js
  components/PostResearchModal.js
  components/ProjectInterviewModal.js
  components/RequirementsModal.js
  components/ui/SubmitButton.js
  fix-parsing-errors-v2.js
  fix-parsing-errors.js
  lib/claude-auto-updater.js
  lib/collaboration/error-handler.js
  lib/collaboration/llm-schemas.js
  lib/collaboration/validation.js
  lib/discord-bot/index.js
  lib/meta-agent/context-enhancer.js
  lib/meta-agent/index.js
  lib/meta-agent/requirements.js
  lib/workflow/hierarchy-manager.js
  pages/api/meta-agent/claude-md-chat.js
  pages/api/task/[taskId]/message.js
  pages/api/task/active/response.js
  pages/api/workflow/merge-proposal/[taskId].js
  pages/api/workflow/validate-project-edit.js
  pages/index.js
  pages/tasks/[taskId].js
Due: none

fix: Fix additional parsing errors for Vercel build
  components/PreResearchModal.js
  components/ProjectInterviewModal.js
  lib/security/sacred-document-middleware.js
  lib/workflow/hierarchy-manager.js
Due: security-tests

fix: Additional build fixes
  components/ui/SubmitButton.js
  fix-parsing-errors-v2.js
  fix-parsing-errors.js
  lib/security/sacred-document-middleware.js
  pages/api/workflow/merge-proposal/[taskId].js
  pages/index.js
Due: security-tests

fix: Fix more parsing errors in collaboration components
  components/collaboration/CollaborationHub.js
  components/collaboration/ExecutionView.js
  components/collaboration/IdeationView.js
  components/collaboration/MergeReviewView.js
  components/collaboration/TaskOrchestrationView.js
  lib/claude-auto-updater.js
Due: none

fix: Fix more parsing errors across multiple files
  components/collaboration/TaskOrchestrationView.js
  lib/claude-auto-updater.js
  lib/claude-integrity.js
  lib/collaboration/error-handler.js
Due: none

fix: Fix more parsing errors in library files
  lib/claude-auto-updater.js
  lib/claude-integrity.js
  lib/collaboration/error-handler.js
  lib/collaboration/index.js
  lib/collaboration/llm-schemas.js
Due: none

fix: Fix final parsing errors in library files
  lib/collaboration/validation.js
  lib/context-enricher.js
  lib/discord-bot/index.js
  lib/meta-agent/context-enhancer.js
  lib/meta-agent/index.js
  lib/meta-agent/requirements.js
  lib/meta-agent/research.js
  lib/security/agent-auth.js
Due: security-tests

chore: Add .vercelignore file to exclude dev scripts
  .vercelignore
Due: none

Fix remaining parsing errors in codebase
  components/collaboration/CollaborationHub.js
  components/collaboration/ExecutionView.js
  components/collaboration/IdeationView.js
  components/collaboration/MergeReviewView.js
  components/collaboration/TaskOrchestrationView.js
  lib/claude-auto-updater.js
  lib/claude-integrity.js
  lib/collaboration/error-handler.js
  lib/collaboration/index.js
  lib/collaboration/llm-schemas.js
  lib/collaboration/validation.js
  lib/discord-bot/index.js
  lib/meta-agent/context-enhancer.js
  lib/meta-agent/index.js
  lib/meta-agent/requirements.js
  lib/meta-agent/research.js
  lib/security/agent-auth.js
Due: security-tests

Fix final parsing errors for Vercel deployment
  lib/discord-bot/index.js
  lib/meta-agent/index.js
  pages/index.js
Due: none

Add Next.js config to skip ESLint during builds
  next.config.js
Due: none

Fix const reassignment error in task-decomposer.js
  lib/meta-agent/task-decomposer.js
Due: none

Fix all const reassignment and template literal errors
  lib/collaboration/validation.js
  lib/meta-agent/context-enhancer.js
  lib/meta-agent/requirements.js
  lib/workflow/hierarchy-manager.js
  pages/index.js
Due: none

Fix all const reassignment errors across codebase
  fix-all-const-errors.js
  lib/meta-agent/task-decomposer.js
  pages/api/actions/terragon.js
  pages/api/collaboration/drafts/update.js
  pages/api/collaboration/ideation/save-draft.js
  pages/api/collaboration/sync/websocket.js
  pages/api/meta-agent/create-task.js
  pages/api/meta-agent/status/[taskId].js
  pages/api/security/status.js
  pages/api/stream/[taskId].js
  pages/api/task/[taskId]/message.js
  pages/api/terragon.js
  pages/api/workflow/merge-proposal/[taskId].js
  pages/index.js
  scripts/realtime-lint.js
  scripts/test-runner-enhanced.js
  scripts/validate-dom.js
  scripts/validate-llm-code.js
  scripts/workflow-cli.js
Due: security-tests, collaboration-api-validation

Add missing projectData state declaration
  pages/index.js
Due: none

Fix JSX structure: add missing closing div tag
  pages/index.js
Due: none

Restore full UI and fix JSX structure properly
  pages/index.js
Due: none

Fix repository scanning to include all source code files
  pages/api/calibration/scan.js
Due: none

feat: Implement dynamic calibration with voice input
  components/DynamicCalibrationWizard.js
  components/TaskMonitorDashboard.js
  pages/api/calibration/dynamic-question.js
  pages/api/calibration/generate-claude-md.js
  pages/api/voice/transcribe.js
  pages/index.js
Due: none

fix: Update API imports to ES modules for Vercel compatibility
  pages/api/calibration/dynamic-question.js
  pages/api/calibration/generate-claude-md.js
Due: none

fix: Prevent repetitive questions in dynamic calibration
  pages/api/calibration/dynamic-question.js
Due: none

chore: Force Vercel rebuild to clear cache
  pages/index.js
Due: none

fix: Ensure both calibration buttons are visible
  pages/index.js
Due: none

refactor: Remove original interview calibration, keep only dynamic voice calibration
  pages/index.js
Due: none

Path conditions:
  sacred-document-protection: any of: CLAUDE\.md$
  sacred-document-tests: any of: CLAUDE\.md$
  security-tests: any of: ^(lib/security/|pages/api/security/|pages/api/collaboration/)
  test-quality-check: any of: __tests__/.*\.(js|ts)$
  collaboration-api-validation: any of: pages/api/collaboration/.*\.js$
  package-security: any of: package\.json$
